body {
	background: #f1f4f7;
	padding-top: 60px;
	font-size: 14px;
	color: #444444;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
	width: 80%;
	margin: auto;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

.navbar-custom {
	background: #222;
	height: 60px;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 500;
	height: 60px;
	padding-top: 18px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

.navbar-toggle {
	background: rgba(255, 255, 255, 0.1);
	padding: 12px;
	margin-top: 10px;
}

.navbar-toggle:hover {
	background: rgba(255, 255, 255, 0.05);
}

.table {
	background: #fff;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

td.action_btns {
	width: 100px;
}

form{
	width: 100%;
}

.input-group{
	display: flex;
	flex-direction: row;
}

input {
	height: 42px;
	flex: 1;
}

.td_btn {
	text-align: center;
	width: 100px;
}

.td_btn i {
	color: #FF0000;
	font-size: 24px;
	cursor: pointer;
}

.nopadding{
	padding: 0;
}